@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: "Lato", Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.87);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  background-color: #1d1d1d;

  --main: #4468b0;
  --sec: #355087;
  --black: #1d1d1d;
  --black-light: #2a2a2a;
}

.bg-black-main {
  background-color: var(--black);
}

.bg-main {
  background-color: var(--main);
}

.bg-sec {
  background-color: var(--sec);
}

body {
  margin: 0;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.countries-grid .country-box:nth-child(4n + 1),
.countries-grid .country-box:nth-child(4n + 4) {
  background-color: var(--main);
}

.countries-grid .country-box:nth-child(4n + 2),
.countries-grid .country-box:nth-child(4n + 3) {
  background-color: var(--sec);
}

.details ul > li:nth-child(odd) {
  background-color: var(--black);
}

.details ul > li:nth-child(even) {
  background-color: var(--black-light);
}

@media (min-width: 640px) {
  .countries-grid .country-box:nth-child(even) {
    background-color: var(--main);
  }

  .countries-grid .country-box:nth-child(odd) {
    background-color: var(--sec);
  }
}
